body {
    background-color: #F7FDFF;
}

header {
    background-color: #84DCC6;
    text-align: center;
    margin: 15px;
    font-family: 'Roboto Slab';
    padding: 70px 0;
}

h1 {
    color: #F7FDFF;
    font-size: 5rem;
    font-weight: 300;
    font-family: 'Roboto Slab';
    padding: 30px 0;
}

h2 {
    color: #F7FDFF;
    font-size: 5rem;
    font-weight: 300;
    font-family: 'Roboto Slab';
    padding: 30px 0;
    text-align: center;
}

.tagline {
    color: #4A7F84;
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.ghost-btn {
    border: 3px solid #F7FDFF;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    color: #F7FDFF;
    font-size: 0.9rem;
    text-transform: uppercase;
    display: block;
    transition: 0.8s all;
}

.ghost-btn:hover {
    background-color: #F7FDFF;
    color: #84DCC6;
}

.projects-box {
    background-color: #A6EDC2;
}