body {
    background-color: #F7FDFF;
}

header {
    background-color: #84DCC6;
    text-align: center;
    margin: 15px;
    font-family: 'Roboto Slab';
    padding: 70px 0;
}

h1 {
    color: #F7FDFF;
    font-size: 5rem;
    font-weight: 300;
    font-family: 'Roboto Slab';
    padding: 30px 0;
}

h4 {
    color: #4A7F84;
    font-size: 1.25rem;
    font-family: 'Roboto Slab';
}

p {
    color: #4A7F84;
    font-size: 1.25rem;
    font-family: 'Roboto Slab';

}

img {
    width: 400px;
}

.tagline {
    color: #4A7F84;
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.ghost-btn {
    border: 3px solid #F7FDFF;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    color: #F7FDFF;
    font-size: 0.9rem;
    text-transform: uppercase;
    display: block;
    transition: 0.8s all;
}

.ghost-btn:hover {
    background-color: #F7FDFF;
    color: #84DCC6;
}

.heading {
    color: #4A7F84;
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Roboto Slab';
    padding: 30px 0;
}


.card {
    width: 400px;
    transition: 0.8s;
}

.card:hover {

    transform: scale(1.01)

}

.project-button {
    display:inline-block;
    padding:6px 12px;
    font-size:14px;
    font-weight:400;
    line-height:1.42857143;
    text-align:center;
    border:1px solid transparent;
    border-radius:4px;
    background-color: #FC834B;
    color: #F7FDFF;
    font-family: "Roboto Slab";
    transition: 0.8s;
    
}

.project-button:hover {
    background-color: #fb5204;
}
